{% extends 'base.html' %}

{% block content %}
<p>目前清单上共有：{{ companys|length }}家上市公司</p>
<ul class="company-list">
	{% for company in companys %}
	<li>{{ company.title }} - {{ company.code }}
		<span class="float-right">
			<a class="dfcf" href="https://so.eastmoney.com/web/s?keyword={{company.title}}" target="blank" title="通过东方财富网获取上市公司信息">东方财富</a>
		</span>
	</li>
	{% endfor %}
</ul>
<img alt="Mgt" class="mgt" src="{{ url_for('static', filename='images/mgt.gif') }}" title="mgt">
{% endblock %}